body, html{
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
}

#navbar {
    background-color: #222;
    border: none;
    border-bottom: solid 1px #3a93ff;
    font-size: 2rem;
    padding: 1rem;
}

#siteTitle{
    color: white;
    text-decoration: none;
}

#searchContainer{
    height: 20vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardSearchInput{
    min-width: 50vw;
    max-width: 50rem;
    font-size: 2rem;
    font-family: "Figtree", sans-serif;
    border-radius: 1rem;
    border-color: transparent;
    background-color: #DDD;
    text-align: left;
    padding-left: 40px;
}

#cardSearchInput::placeholder{
    color: #AAA;
}

#cardSearchLabel{
    position: relative;
}

#cardSearchLabel::before{
     content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("../public/magnifying-glass.svg") center no-repeat;
  color: grey;
}

#cardResultsTarget{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 70vh;
    justify-content: space-around;
    align-items: center;
    gap: 1rem 1rem;
}

#cardResultsTarget .message{
    min-width: 50%;
    width: 30rem;
    max-width: 75%;
    text-align: center;
    color: #ddd;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding:0;
    /* display:block; */
    max-width: 100%;
    min-width: 27.5%;
    width: 25rem;
    font-size: 1rem;
    gap: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    padding:0.5rem;
    border-radius: 1rem;
    border: solid 1px #3a93ff;
}

.cardContainer img{
    display: inline;
    max-width: 146px;
    max-height: 204px;
    width: 100%;
    border-radius: 6px;
}

.cardNameText{
    text-align: center;
    max-width: 100%;
    flex-grow: 1;
}


/* CSS LOADER FROM https://cssloaders.github.io/ - MIT LICENSE */
.loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #FFF;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        inset: 8px;
        transform: rotate3d(90, 90, 0, 180deg );
        border-color: #3a93ff;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      }